<h2>スレッド作成</h2>
<%= render partial: "layouts/error", locals: { product: @topic } %>
<%= form_with model: @topic, local: true do |f| %>
  <%= f.text_field :name %>
  <%= f.select :genre_id, Genre.all.map{|genre| [genre.name, genre.id] } %>
  <%= f.submit "作成" %>
<% end %>