<!DOCTYPE html>
<html>
  <head>
    <title>Bbs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <%= render partial: 'layouts/header' %>
        </div>
      </div>
        <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <%= yield %>
        </div>
        <div class="col-2">
        <% if user_signed_in? %>
          <%= render partial: 'layouts/sidebar', locals: {genres: @genres } %>
        <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
